spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - start_date
      - username
    properties:
      password:
        type: string
        order: 2
        title: Password
        always_show: true
        airbyte_secret: true
      username:
        type: string
        order: 1
        title: Username
      start_date:
        type: string
        order: 0
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - people
streams:
  - name: people
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: people
        type: HttpRequester
        url_base: https://api.assembledhq.com/v0/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters:
          limit: '500'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - people
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          role:
            type: string
          site:
            type:
              - 'null'
              - string
          email:
            type: string
          teams:
            type: array
            items:
              type: string
          queues:
            type: array
            items:
              type: string
          skills:
            type: array
          deleted:
            type: boolean
          agent_id:
            type:
              - 'null'
              - string
          channels:
            type:
              - array
              - 'null'
            items:
              type: string
          end_date:
            type:
              - 'null'
              - number
          timezone:
            type: string
          last_name:
            type: string
          platforms:
            type: object
            properties:
              hibob:
                type: string
              intercom:
                type: string
          staffable:
            type: boolean
          agent_role:
            type: string
          created_at:
            type: number
          first_name:
            type: string
          start_date:
            type:
              - 'null'
              - number
          imported_id:
            type:
              - 'null'
              - string
  - name: teams
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: teams
        type: HttpRequester
        url_base: https://api.assembledhq.com/v0/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters:
          limit: '500'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - teams
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          name:
            type: string
          parent_id:
            type:
              - 'null'
              - string
          created_at:
            type: number
          updated_at:
            type: number
  - name: sites
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: sites
        type: HttpRequester
        url_base: https://api.assembledhq.com/v0/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters:
          limit: '500'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - sites
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          name:
            type: string
          created_at:
            type: number
          updated_at:
            type: number
  - name: queues
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: queues
        type: HttpRequester
        url_base: https://api.assembledhq.com/v0/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters:
          limit: '500'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - queues
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          name:
            type: string
          parent_id:
            type:
              - 'null'
              - string
          created_at:
            type: number
          updated_at:
            type: number
  - name: activity_types
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: activity_types
        type: HttpRequester
        url_base: https://api.assembledhq.com/v0/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters:
          limit: '500'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - activity_types
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          name:
            type: string
          value:
            type: string
          timeoff:
            type: boolean
          channels:
            type: array
            items:
              type: string
          font_color:
            type:
              - 'null'
              - string
          productive:
            type: boolean
          short_name:
            type: string
          background_color:
            type: string
  - name: agent_states
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        pagination_strategy:
          type: OffsetIncrement
          page_size: 500
      requester:
        path: agents/state
        type: HttpRequester
        url_base: https://api.assembledhq.com/v0/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - agent_states
            - '*'
      partition_router: []
    primary_key:
      - agent_id
      - start_time
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          state:
            type: string
          agent_id:
            type: string
          end_time:
            type: number
          platform:
            type: string
          ticket_id:
            type: string
          agent_name:
            type: string
          start_time:
            type: number
          agent_email:
            type: string
          external_id:
            type: string
          modified_at:
            type: number
          ticket_status:
            type: string
          agent_platform_id:
            type: string
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: modified_at
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%s'
      end_time_option:
        type: RequestOption
        field_name: end_time
        inject_into: request_parameter
      lookback_window: P1M
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%s'
  - name: activities
    type: DeclarativeStream
    retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      requester:
        path: activities
        type: HttpRequester
        url_base: https://api.assembledhq.com/v0/
        http_method: GET
        authenticator:
          type: BasicHttpAuthenticator
          password: '{{ config[''password''] }}'
          username: '{{ config[''username''] }}'
        request_headers: {}
        request_body_json: {}
        request_parameters:
          end_time: '2051222400'
          include_agents: 'false'
          include_activity_types: 'false'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - activities
            - '*'
      partition_router: []
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type: string
          type_id:
            type: string
          agent_id:
            type: string
          end_time:
            type: number
          created_at:
            type: number
          start_time:
            type: number
          updated_at:
            type: number
          description:
            type:
              - 'null'
              - string
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%s'
      lookback_window: P3D
      start_time_option:
        type: RequestOption
        field_name: start_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - '%s'
version: 0.57.0
metadata:
  autoImportSchema:
    sites: true
    teams: true
    people: true
    queues: true
    activities: true
    agent_states: true
    activity_types: true
